.loader {
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.svg {
  enable-background: new 0 0 50 50;
}
/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}
